*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0; 
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(65, 105, 225, 0.5);    
    }


header h1,
header li a,
section h1,
section h2 {
    font-family: 'Bungee', cursive;   
    font-weight: normal; 
}


header h1{
    margin-left: 8px
    
}
header nav{
    margin-right: 18px;
}
    
header li{
        display: inline;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 8px;
    }    

header li a{
        color: #000000;
        text-decoration: none;
        
    }

    header li:hover{
        background-color: #fff;
        padding: 16px;
        
    }
    section img{
        width: 300px;
        height: 220px;
        display: inline-flexbox;    
        padding: 16px 8px 16px 24px;
        margin-top: 16px;
        border-radius: 50%;
    }

.conteudo{
    display: flex;
    background-color: rgb(182, 181, 181); 
    
}

h1,
h3,
h2{
    text-align: center;
}

.courses img{
    width: 300px;
    height: 220px;
    display: inline-flexbox       
    
    }

.courses{
    display: flex;
    background-color: rgb(181, 240, 235); 
    line-height: 1.4;
    font-size: 26px;
}

p{
    padding: 40px;
    text-align: left;
}

header h1{
    cursor: pointer;
}


.graduates{
    margin-left: 10px;
    display: flex;
}

a{
    text-decoration: none;
    color: #000000;
}

.courses{
    display: flex;
}

footer{
    padding-bottom: 8px;
    background-color: rgba(65, 105, 225, 0.5); 
    text-align: center;
}
